body{
    width: 99%;
}
#logo {
    width: 30%;
    height: 20%;
  
  }
  
  #navbar {
      margin-left: auto;
    padding-top: 0;
    
  
  }
  
  #navlinks {
      color: aliceblue;
      margin-right: 20px;
      font-size: 20px;
   
  }
  
  #navlinks:hover {
      color: rgb(137, 185, 185);
  }
 
.logo-container{
    display: flex;
    flex-wrap: nowrap;
    
}
#team{
    padding-top: 42px;
    color: rgb(99, 209, 236);
    font-size: 50px;

}
#SCCRM{
    padding-top: 42px;
    padding-left: 2%;
    color: rgb(171, 65, 180);
    font-size: 50px;
}