/* Develop by START */

#imgmap {
 position: relative;
}

#imgUpper {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    height: 823px;
    width: 823px;
    
}

#imgLower {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: .5;
    height: 823px;
    width: 823px;
}

#imgLower:hover {
    transition: .4s ease;
    opacity: 1;
}

.dbH2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.imgContainerDb {
    justify-content: center;
}

a:hover {
    cursor: pointer;
}

.title {
    float: left;
}

.dbImg {
    float: right;
}


.card-text {
    display: flex;
    width: 100%;
    text-align: left;
}

#steven, #mike, #rachel, #campbell {
    text-decoration: none;
}

@media screen and (max-width: 1062px) {
    #imgmap {display:none;}
}

.hidden {
    display: none !important;
}

@media (max-width: 575.98px) {
    .dbImg {float:none;}
}

@media (max-width: 575.98px) {
    .title {float:none;}
}

/* Develop by END */

