/* Develop by START */
.containerDb {
    border: 3px solid black;
    text-align: center;
}

.dbH2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.imgContainerDb {
    justify-content: center;
}

a:hover {
    cursor: pointer;
}

.title {
    float: left;
}

.dbImg {
    float: right;
}

.card-text {
    display: flex;
    width: 100%;
    text-align: left;
}

#steven, #mike, #rachel, #campbell {
    text-decoration: none;
}

/* Develop by END */