body {
    background-color: rgb(28, 44, 72);
}


.logo-container {
    text-align: center; /* Center the logo horizontally */
    margin-top: 20px; /* Add space at the top if needed */
    background-color: #f0f0f0; /* Add a background color to create a banner effect */
    padding: 10px 0; /* Add padding to the top and bottom of the banner */
  }
  
  .logo-container img {
    display: block; /* Make the image a block element to center it within the banner */
    margin: 0 auto; /* Center the image horizontally within the banner */
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  