body {
    background-color: rgb(28, 44, 72);

}

#logo {
  width: 5%;

}

#navbar {
    margin-left: auto;

}

#navlinks {
    color: aliceblue;
 
}

#navlinks:hover {
    color: rgb(137, 185, 185);
}
.logo-container {
    text-align: left;
    /* Center the logo horizontally */
    margin-top: ;
    /* Add space at the top if needed */
    background-color: #f0f0f0;
    /* Add a background color to create a banner effect */
    padding: 5px 0;
    /* Add padding to the top and bottom of the banner */
}

.logo-container img {
    display: inline-flex;
    /* Make the image a block element to center it within the banner */
    margin-left: 15px;
    /* Center the image horizontally within the banner */
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}
